<%- include('./includes/doctype.ejs') %> 

    <%- include('./includes/canvass.ejs')  %> 
<h5>Available Brands</h5>

<%- include('./includes/car-brand.ejs')  %> 



<h5>Best cars</h5>
<div class="car-img">
<img  id="car-img" src="/img/hilux.jpeg" alt="">
</div>


<%- include('./includes/nav-bar.ejs') %> 
<%- include('./includes/close.ejs') %>
