<%- include('./includes/doctype.ejs') %> 

    <%- include('./includes/canvass.ejs')  %> 
<h5>Best Brands</h5>

<%- include('./includes/car-brand-name.ejs')  %> 



<h5>Best cars</h5>

<img class="img-fluid" id="car-img" src="/img/hilux.jpeg" alt="">
</div>
</div>

<%- include('./includes/nav-bar.ejs') %> 
<%- include('./includes/close.ejs') %>
