<%- include('./includes/doctype.ejs') %>
<%- include('./includes/canvass.ejs') %>
<%- include('./includes/car-brand.ejs') %>

<h5>Toyota Cars</h5>

  <div id="car-slide" class="carousel slide" data-bs-ride="false">
     <div class="carousel-indicators">
      <button type="button" data-bs-target="#car-slide" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#car-slide" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#car-slide" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <% toyotas.forEach((toyota, inx)=>{ %> 
    
        <% if (inx ==0){ %> 
          <div class= "carousel-item active">
            <img src="<%= toyota.image%>" class="d-block w-100" id="car-caro"alt="...">
            <div class="carousel-caption d-md-block">
                <div class="arrow">
                    <div class="mil">
                        <p><i class="fa-solid fa-arrow-up-right-from-square" id="millage"></i></p>
                   
                        <p class=""><%=toyota.millage %> </p>
                        <h6 class="car-name">
                          <%= toyota.carName %> 
                      </h6> 
                       
                        <div class="car-properties">
                          <p><%= toyota.seater %> </p>
                          <p><%= toyota.mechnism %> </p>
                          <p><%= toyota.combustion %> </p>
                  
                        </div> 
                       
                    </div>
                    </div>
                    </div>
                    </div>
           <% }else { %> 
              <div class= "carousel-item">
               
                  <img src="<%= toyota.image%>" class="d-block w-100" id="car-caro"alt="...">
                  <img src="" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <div class="arrow">
                      <div class="mil">
                          <p><i class="fa-solid fa-arrow-up-right-from-square" id="millage"></i></p>
                     
                          <p class=""><%=toyota.millage %> </p>
                          <h6 class="car-name">
                            <%= toyota.carName %> 
                        </h6> 
                         
                          <div class="car-properties">
                            <p><%= toyota.seater %> </p>
                            <p><%= toyota.mechnism %> </p>
                            <p><%= toyota.combustion %> </p>
                    
                          </div> 
                         
                      </div>
                      </div>
                  </div>
                </div>
           <% } %> 

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#car-slide" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#car-slide" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <%})%> 
<%- include('./includes/nav-bar.ejs') %> 

